extends ../../common/jade/template
block metas
	-var title = "不思議の幻想郷 Tower Of Desire 攻略サイト"
	-var pagetitle = "にとフュージョン"
	-var groop = "Base"
	-var current = "Fusion"
	-var description = ""
	-var keyword = ""
	-var og_name = ""
	-var og_title = ""
	-var og_url = ""
	-var og_description = ""
	-var groop_root = "../../"
	-var dir_root = "../../"
	-var css = "tod.css"
block js

block content
	-var imgPath = dir_root+"images/tod/"
	section#title
		h2.title__text にとフュージョン
		p.text.
			基本的にゲーム進行上必要のあるものだけを掲載します。
	section#commentary
		ul.changedlists
			li.list.system
				h3.title にとフュージョンとは
				.content
					h4.subhead - 解説 -
					p.description.
						いつでもどこでも合成・調合ができる新システム。利用には「ニトポ」が必要になり、1回ごとに1ターンかかる。<br>
						ターンが進まない神社や妖怪の里、各種施設(河城セーフハウスなど)ではメニューは閉じられずに連続使用ができる。
			li.list.about
				h3.title ニトポについて
				.contenet
					h4.subhead - 解説 -
					p.description
						| ニトポはダンジョンで敵モンスターを倒した際によく落とす。床落ちはしない。
						span
							img(src="#{imgPath}nitopo.png",alt="ニトポ")
						span
							| 青色が +1、金色が +2。<br>
						|またダンジョンを1F潜ると自動的に増加する。増加量はダンジョンにより異なる。
						|階層移動でニトポが自動増加しないダンジョンや、そもそもNTF自体が使用できないダンジョンもある。
			li.list.synthesis
				h3.title 合成
				.content
					h4.subhead - 解禁条件 -
					p.description.
						届け！地底からのSOS!」クリアで解禁<br>
						中級レシピ：「緊急事態発生！」クリアで開放<br>
						上級レシピ：「緊急自体発生！」クリア後に追加されるアトラクション3種クリアで開放
					h4.subhead - 解説 -
					p.description.
						消費ニトポは1回につき装備は100P、お札は25P。<br>
						ただし一部のダンジョンでは消費数が異なる。<br>
						装備品を合成する場合、装備品の<br>
						修正値・印・加護と呪いが完成品に引き継がれる。<br>
						経験値も合算されて成長するが、<br>
						一度に合成できる経験値は100万まで。<br>
						過去作品でできていた装備品同士の<br>
						異種合成(武器に防具を合成する、など)はできなくなった。<br>
						漬物石の【重】印など、複数の種類に合成できる印を移したい場合は、何らかの手段で印だけ抜き取る必要がある。<br>
						装備品でないアイテム、例えば印付きの薬などについてはそのまま合成可能。<br>
						また、現在装備している装備にそのまま合成することが出来るが、装備しているものが呪われている場合、合成材料にはできない。