#commentary{
	.changedlists{
		list-style: none;
		.list{
			.title{
				text-align: center;
				background-color: #444444;
				color: #fff;
				line-height: 30px;
				margin:0 0 20px 0;
			}
			.subhead{
				font-size: 16px;
				letter-spacing: 0.06em;
				text-align: center;
				padding:0 0 20px 0;
			}
			.content{//commonStyle
				width:550px;
				margin:0 auto;
			}
			&.system{
				.lists{
					list-style: none;
					padding:0 0 20px 0;
					.list{
						position: relative;
						margin:0 0 0 1em;
						.text{
							line-height: 1.6;
							letter-spacing: 0.02em
						}
						span{
							margin:0 0 0 -1em;
							position: absolute;
						}
					}
				}
			}
			&.item{
				table{
					width:550px;
					margin:0 auto;
					border:solid 1px #444;
					th{
						background-color: #444;
						text-align: center;
						color: #ffffff;
						font-size:14px;
						line-height: 20px;
					}
					td{
						text-align: center;
						font-size :14px;
						border-right:1px solid #444;
						border-bottom:1px solid #444;
						color: #000;
						line-height: 30px;
						width:50%;
						&.left{
							background-color: #b6d2eb;
						}
						&.right{
							background-color: #9cff31;
						}
						&:last-child{
							border-right: none;
						}
					}
				}
			}
		}
	}
}