#commentary{
	.changedlists{
		.list{
			.title{
				text-align: center;
				background-color: #444444;
				color: #fff;
				line-height: 30px;
				margin:0 0 20px 0;
			}
			.subhead{
				font-size: 14px;
				letter-spacing: 0.06em;
			}
		}
	}
}