#descirption{
	width:700px;
	margin:0 auto;
	padding:20px 0 0 0;
	.description__title{
		text-align: center;
		font-size:20px;
	}
	.description__text{
		text-align: center;
		font-size: 14px;
		margin:20px 0 0 0;
		line-height: 1.8;
		letter-spacing: 0.06em;
	}
}