extends ../../common/jade/template
block metas
	-var title = "不思議の幻想郷 Tower Of Desire 攻略サイト"
	-var pagetitle = "不思議の幻想郷3からの変更点"
	-var groop = "Base"
	-var current = "Changed"
	-var description = ""
	-var keyword = ""
	-var og_name = ""
	-var og_title = ""
	-var og_url = ""
	-var og_description = ""
	-var groop_root = "../../"
	-var dir_root = "../../"
	-var css = "tod.css"
block js

block content
	-var imgPath = dir_root+"images/tod/"
	section#title
		h2.title__text 不思議の幻想郷3からの変更点
		p.text.
			基本的にゲーム進行上必要のあるものだけを掲載します。
	section#commentary
		ul.changedlists
			li.list
				h3.title アイテム
				.contenet
					h4.subhead ・名称変更
					table.description
						th.title ふし幻3→TOD
							td aaa
							td bbb