extends ../../common/jade/template
block metas
	-var title = "不思議の幻想郷 Tower Of Desire 攻略サイト"
	-var pagetitle = "不思議の幻想郷3からの変更点"
	-var groop = "Base"
	-var current = "Changed"
	-var description = ""
	-var keyword = ""
	-var og_name = ""
	-var og_title = ""
	-var og_url = ""
	-var og_description = ""
	-var groop_root = "../../"
	-var dir_root = "../../"
	-var css = "tod.css"
block js

block content
	-var imgPath = dir_root+"images/todr/"
	section#title
		h2.title__text 不思議の幻想郷3からの変更点
	#commentary
