extends ../../common/jade/template
block metas
	-var title = "不思議の幻想郷 Tower Of Desire 攻略サイト"
	-var pagetitle = "不思議の幻想郷3からの変更点"
	-var groop = "Base"
	-var current = "Changed"
	-var description = ""
	-var keyword = ""
	-var og_name = ""
	-var og_title = ""
	-var og_url = ""
	-var og_description = ""
	-var groop_root = "../../"
	-var dir_root = "../../"
	-var css = "tod.css"
block js

block content
	-var imgPath = dir_root+"images/tod/"
	section#title
		h2.title__text 不思議の幻想郷3からの変更点
		p.text.
			基本的にゲーム進行上必要のあるものだけを掲載します。
	section#commentary
		ul.changedlists
			li.list
				h3.title ゲームシステム・バランス
				.content
					h4.subhead -  -
			li.list
				h3.title アイテム
				.contenet
					h4.subhead - 名称変更 -
					table
						tr
							th(colspan="2") ふし幻3→TOD
						tr
							td.left 照符「ブック・オブ・ライト」
							td.right 照符「ルーム・オブ・ライト」
						tr
							td.left 識別「G○○gle」
							td.right 識別「ググール」
						tr
							td.left 忘却「ニューラライザー」
							td.right 忘却「ネオラライザー」
						tr
							td.left 水没「オッツダルヴァ」
							td.right 水没「サブマージプリンス」
						tr
							td.left 狂乱「レッド・マーカー」
							td.right 狂乱「スカーレット・マーカー」
						tr
							td.left 憑狂「ハンターズ・ムーン」
							td.right 蛍光「オールド・ラング・サイン」
						tr
							td.left メントス
							td.right メントゥス
						tr
							td.left ゲルバナ(の房)
							td.right どろり濃厚バナナ(の皮)
						tr
							td.left サテライトキャノン
							td.right ルナライトキャノン
						tr
							td.left ルンバ
							td.right ロボット掃除機
