extends ../common/jade/template
block metas
	-var title = "不思議の幻想郷 Tower Of Desire RELOADED 攻略サイト"
	-var groop = "Sites"
	-var current = "TodR"
	-var description = ""
	-var keyword = ""
	-var og_name = ""
	-var og_title = ""
	-var og_url = ""
	-var og_description = ""
	-var dir_root = "../"
	-var css = "./css/index.css"
block js
	script(rel="text/javascript",src="./js/index.min.js")
block content
	-var imgPath = dir_root+"images/todr/"
	#banner
		.sitebanner
			a(href="http://www.aquastyle.org/fushigentod_r/",target="_blank")
				img(src=imgPath + "todr_banner.jpg",alt="不思議の幻想郷TowerOfDesire")
	#descirption
		h2.description__title.
			はじめに
		p.description__text.
			このページは #{title} になります。<br>
			現状<a href="http://fusigentod.dojin.com/todr/index.php" target="_blank">TODR攻略wiki</a>が存在しますが、<br>
			それに対してこちらのページは簡潔に必要な部分のみを記載するサイトです。<br>
			交流を求める場合にはwikiのほうがよろしいかとおもいます。
	#update
		h2.update__title.
			更新履歴
		ul.update__lists
			-var update = []
			-update[0] = "2016/12/01 ページを公開しました"
			-update[1] = "2016/12/02 ページを公開しました"
			-update[2] = "2016/12/03 ページを公開しました"
			-update[3] = "2016/12/04 ページを公開しました"
			-update[4] = "2016/12/05 ページを公開しました"
			-update[5] = "2016/12/06 ページを公開しました"
			-update[6] = "2016/12/07 ページを公開しました"
			-for(var i = update.length - 1; i > -1;i--){
			li.list
				p.text #{update[i]}
			-}