@charset "utf-8";

//-----      import of parts      --------
	@import "_parts/header";
	@import "_parts/footer";
	@import "_parts/glonav";
	@import "_parts/index";
//-----  end of import of parts   --------
//-----        common style       --------
body{
	min-width:1200px;
}
.inner{
	width:1200px;
	margin: 0 auto;
}
#main{
	
}
#content{
	width:670px;
	margin:30px auto 0 auto;
	
}
.tl{
	text-align: left;
}
.tc{
	text-align: center;
}
.tr{
	text-align: right;
}
//-----    end of common style    --------