block metas
	-var title = ""
doctype
html(lang="ja")
	head
		title #{title}
	body
		#header
			ul.header__menus
				ul.menu__series
					li.list
						a(href="") 不思議の幻想郷TODR
					li.list
						a(href="") 不思議の幻想郷TOD
				ul.system

		block content
		#footer